#myChart{
    width: 100px;  
}
.graficos{
    max-width:65%;
    max-height: 20%;
}
.grafico-box{
     
    padding-bottom: 0px;
}
.grafico-container{
 height: 310px;
}
#processo{
    background-color: var(--azul-escuro); 
     
    min-width:30% ; 
}
.processobox{
    display: flex;
    min-width: 20%;
    justify-content: space-between;
    background-color: var(--azul-medio);
    border-bottom: 1px;
    border: 2px solid;
    padding: 0px 20px; 
}
#cabecalho{
    background-color: #1d315f; 
  
}
#cabecalho>h3{
    font-size: 11pt;
}
.titulo{
    width: 50%;
}
 
.processobox>h3{
    font-size: 12px;
}
 
.col{
    display: flex;
    gap: 40px;
    width: 100%; 
} 