
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    height:100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 26, 26);
    color: black;
}


.container {
    height: 95%;
    width: 95%;
    /* margin-top: 60px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    background-color: white;
}

.box_dados {
    height: 100%;
    width: 50%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.wallpaper {
    width: 50%;
    height: 100%;
    background: #020024;
    background: linear-gradient(128deg, rgba(2, 0, 36, 1) 0%, rgba(4, 4, 87, 1) 52%, rgba(6, 3, 46, 1) 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallpaper img {
    width: 75%;
}

.titulo {
    color: #00042e;
    font-size: 40px;
    align-self: flex-start;
    font-weight:800;
}

.group-input {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
}
input, select{
    width: 90%;
    height: 50%;
    border: none;
    background-color: #dfe8ec;
    font-family: "Poppins", sans-serif;
    outline: none;
}
.group-button {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.group-button span {
    font-weight: normal;
}
.group-button label {
    color: #040f86;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.group-button label:hover {
    font-size: 18.5px;
}
button{
    align-self: center;
    height: 135px;
    font-size: 25px;
    background: none;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    width: 65%;
    height: 50px;
    background: #B28405;
    background: radial-gradient(circle, rgba(178, 132, 5, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-weight: 500;
    outline: none;

    
}
button.span {
    color: whie;
}

button:hover{
    transform: scale(1.01);
    font-size: 27px;
    font-weight: bold;
}


label {
    align-self: flex-start;
}


